<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpack_bundles/0.css' %}">
</head>
<body>

<div class="sideNav-container">

    <div class="sideNav-header">
        <p>Joel Lithgow</p>
        <h5>/Portfolio</h5>
    </div>

</div>

<div class="mainNav-container">

    <div class="mainNav-header">
        <h2 class="mainNav-header--parentPage">Joel Lithgow</h2>
        <h1 class="mainNav-header--currentPage">Portfolio</h1>
    </div>

    <div class="mainNav-search">
        <p class="mainNav-search--label">Search</p>
{#       TODO: Why is this label thing here?#}
{#        <label>#}
            <input class="mainNav-search--text_box">
{#        </label>#}
    </div>

    <div class="mainNav-filters">
        <p class="mainNav-filters--label">Selected Filters</p>
    </div>

    <div class="mainNav-results">
        <h3 class="mainNav-results--resultCount">47 Results</h3>
        <div class="mainNav-results--strips">
            {% for strip in strips %}
                <article class="strip_card">
                <div class="strip_card-frameStrip">
                  {% for frames in strip.strip_frames.all %}
                        <img src="{{ frames.image.url }}" alt="Yup" class="strip_card-frameStrip--frame">
                  {% endfor %}
                </div>
                <p class="strip_card-title">{{ strip.strip_title }}</p>
                <div class="strip_card-descriptionWell">
                    <p class="strip_card-descriptionWell--Description">{{ strip.strip_altText }}</p>
                </div>
                <div class="strip_card-statusBar"></div>
            </article>
            {% endfor %}
        </div>
    </div>

</div>


</body>
</html>

{#Static example#}
{#{% static 'portfolio/images/1-29_04_19.png' %}#}