<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
</head>
<body>

{% block main %}
<div class="sideNav-container">

    <div class="sideNav-appNav">
        <h5>Joel Lithgow</h5>
        <a href="{% url 'portfolio:index' %}"><h4>Portfolio</h4></a>
        <div class="break"></div>
    </div>

    <div class="sideNav-tagsNav">
        <ul>
            {% for tag in tags %}
                <li class="tagsNav-tag">{{ tag.tag_name }}</li>
            {% endfor %}
        </ul>
        <div class="break"></div>
    </div>

    <div class="sideNav-stripNav">
        <h4>{{ strip.strip_title }}</h4>
        <ul>
            {% for frame in frames %}
                <li class="stripNav-frame">{{ frame.frame_title }}</li>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="mainNav-container">

{#    <div class="mainNav-infoPanel color-background--{{ section.section_color }}">#}

        <div class="mainNav-infoPanel--DescriptionBox">
{#            <h4>{{ section.section_title }}:</h4>#}
{#            <p>{{ section.section_description }}</p>#}
        </div>

{#    </div>#}


    <div class="mainNav-cardDeck">

    </div>

</div>


{% endblock main %}

</body>
</html>