/*TODO: Tutorial 06 is the one for styling*/

/* Fonts */

@font-face {
    font-family: 'BrownStd';
    src: url('fonts/lineto-brown-regular.eot');
    src: url('fonts/lineto-brown-regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BrownStd';
    src: url("fonts/lineto-brown-light.eot");
    src: url("fonts/lineto-brown-light.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Normalize */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%
}

/* General Styles */

* {
    font-family: BrownStd, Helvetica, Arial, sans-serif;
}

p {
    margin: 4px 0;
}

h6 {
    font-size: 12px;
    margin: 4px 0;
}

h5 {
    font-size: 14px;
    font-weight: normal;
    margin: 4px 0;
}

h4 {
    font-size: 16px;
    margin: 8px 0;
}

h3 {
    font-size: 20px
}

h2 {
    font-size: 24px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 16px;
    margin: 4px 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Side Navigation */

.break {
    background-color: #656C6C;
    height: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}

.sideNav-container {
    padding: 8px 16px;
    width: 188px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #edeeee;
    box-shadow: inset -2px 0 6px rgba(0,0,0,0.3);
}


.sideNav-appNav {

}


.sideNav-tagsNav {

}

.tagsNav-tag {

}

/* Main Navigation */

.mainNav-container {
    margin-left: 220px;
    padding: 24px 24px 0 24px
}

.mainNav-header {
    margin-bottom: 16px;
}

.mainNav-header--parentPage {
    font-size: 24px;
    color: #656C6C;
    margin: 4px 0;
}

.mainNav-header--currentPage {
    font-size: 36px;
    color: #000000;
    margin: 4px 0;
}


.mainNav-search {
    margin-bottom: 16px;
}

.mainNav-search--label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.mainNav-search--text_box {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.5);
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
}

.mainNav-filters {
    margin-bottom: 16px;
}

.mainNav-filters--label {
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0;
}

.mainNav-results {

}

.mainNav-results--strips {
    display: flex;
    flex-wrap: wrap;
}

.mainNav-results--resultCount {
    font-size: 24px;
    margin-bottom: 16px;
}

/* strips_card */

.strip_card {
    flex: 1 0 20%;
    margin: 12px 12px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border: none;
    border-radius: 3px;
    position: relative;
    min-width: 240px;
    max-width: 324px;
    min-height: 150px;
    transition: box-shadow 0.175s;
    /*max-height: 150px;*/
    /*border-bottom: solid 4px #edeeee;*/
}

/*TODO: implement responsive card sizing*/
@media only screen and (max-width: 1172px) {
    .strip_card {
        flex: 1 0 30%;
    }
}

/*TODO: implement hover states*/
.strip_card:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.30);
    /*border-bottom: solid 4px #007096;*/
}

.strip_card-title {
    margin: 4px 8px;
    font-size: 16px;
    font-weight: bold;
}

.strip_card-descriptionWell {
    margin: 4px 8px;
    margin-bottom: 0;
    overflow: scroll;
    max-height: 62px;
}

.strip_card-descriptionWell--Description {
    font-weight: bold;
    font-size: 14px;
    color: #656C6C;
}

/*TODO: Fix scrollbar issues*/
.strip_card-frameStrip {
    background-color: #edeeee;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
    border-radius: 3px;
    margin-bottom: 8px;
    display: flex;
    padding: 4px;
    overflow: scroll;
    /*scrollbar-base-color: #007096;*/
}

.strip_card-frameStrip--frame {
    /*flex: 1;*/
    display: inline-block;
    /*width: 30%;*/
    max-height: 51px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    margin: 4px;

}

.strip_card-statusBar {
    display: block;
    height: 4px;
    background-color: #edeeee;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 3px 3px;
    width: 100%;
    transition: background-color 0.175s;
}

/* Syntax */
/*block_type-nextLevelDown--NextLevelDown---NextLevelDown__Modifier*/